<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta http-equiv="cleartype" content="on">
<link href="https://fonts.proxy.ustclug.org/css?family=Roboto:300,300i,400,400i,700" rel="stylesheet">

<!-- Link common CSS and JavaScript files -->
<link href="/css/style.css" rel="stylesheet">
<!--<link href="/css/highlight.css" rel="stylesheet">-->

<!-- Set favicon -->
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">